<div class="app-container" [class.sidebar-open]="isSidebarOpen">
    <nav class="sidebar">
      <div class="logo">Fleet Maintenance</div>
      <ul class="nav-links">
        <li>
          <a routerLink="/maintenance-dashboard/maintenance" routerLinkActive="active" data-icon="⚠️" (click)="closeSidebar()">Maintenance</a>
        </li>
        <li>
          <a (click)="logout()" routerLink="/" routerLinkActive="active" data-icon="🚪" (click)="closeSidebar()">Logout</a>
        </li>
      </ul>
    </nav>
    <main class="main-content">
      <button class="toggle-button" (click)="toggleSidebar()">☰</button>
      <router-outlet></router-outlet>
    </main>
  </div>